<div class="container">
    <h2>KOLLAM CITY</h2>
    <p>Important details about officers</p>
    <table class="table">
        <thead>
            <tr>
                <th>DESIGNATION</th>
                <th>STD</th>
                <th>OFFICE NUMBER</th>
                <th>VPN</th>
                <th>Mobile Number</th>
                <th>Email</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td>District Police Chief </td>
                <td>474</td>
                <td>2764422</td>
                <td>11000</td>
                <td>9497996984</td>
                <td>cpklm.pol@kerala.gov.in</td>
            </tr>

            <tr>
                <td>District Police officer </td>
                <td>474</td>
                <td>2763322</td>
                <td>11000</td>
                <td>9497998984</td>
                <td>cabc@gmal.com</td>
            </tr>
        <tbody>
            <tr>
                <td>District Police Chief </td>
                <td>474</td>
                <td>2764422</td>
                <td>11050</td>
                <td>9497996984</td>
                <td>klm.pol@kerala.gov.in</td>
            </tr>
        <tbody>
            <tr>
                <td> Police </td>
                <td>474</td>
                <td>2763322</td>
                <td>21000</td>
                <td>94979968999</td>
                <td>cpk.ppl@kerala.gov.in</td>
            </tr>
        <tbody>
            <tr>
                <td>District Police Chief </td>
                <td>474</td>
                <td>2764422</td>
                <td>11000</td>
                <td>9497996984</td>
                <td>cpklm.pol@kerala.gov.in</td>
            </tr>
        </tbody>
    </table>
</div>