<div class="justify-content-center">
    <h1 class="h3 mb-3 font-weight-normal" style="margin-top:50px;">
        <strong>
            <center>OTP verification</center>
        </strong>
    </h1>
    <form class="form-login" style="margin-left:500px" action="/users/otp" method="POST">
        <br><br><br>
        <div class="form-group row">
            <label for="OTP" class="col-sm-2 col-form-label">OTP:</label>
            <div class="col-sm-6">
                <input name="otp" type="number" class="form-control" id="OTP" placeholder="OTP" />
            </div>
        </div>
        <div class="container">
            <input type="submit" class="btn btn-success" />
        </div>
    </form>
</div>