<div class="justify-content-center">
    <h1 class="h3 mb-3 font-weight-normal" style="margin-top:50px;">
        <strong>
            <center>Update password.</center>
        </strong>
    </h1>
    <form class="form-login" style="margin-left:500px" action="/users/resetpassword/submit" method="POST">
        <br><br><br>
        <div class="form-group row">
            <label for="OTP" class="col-sm-2 col-form-label">Reset Code:</label>
            <div class="col-sm-6">
                <input name="resetCode" type="number" class="form-control" id="resetCode" placeholder="Reset Code" />
            </div>
        </div>
        <div class="form-group row">
            <label for="updatedPassword" class="col-sm-2 col-form-label">Updated password</label>
            <div class="col-sm-6">
                <input name="updatedPassword" type="password" class="form-control" id="updatedPassword" placeholder="Updated Password" />
            </div>
        </div>
        <div class="container">
            <input type="submit" class="btn btn-success" />
        </div>
    </form>
</div>